:root {
    --primary-color: #28bac9;
}
.flex {
    display: flex;
}
.ml-10 {
    margin-left: 10px;
}
.center {
    align-items: center;
}
.progress-bar {
    background-color: var(--primary-color);
}
.logo {
    background-image: url(/video-compressor.png);
    width: 46px;
    height: 46px;
    background-size: contain;
}
.text-primary {
    color: var(--primary-color) !important;
}
.btn-success {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    opacity: 0.9;
}

.btn-success:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    opacity: 1;
}